.hidden-div {
    display: none;
}

body {
    background-color: cornsilk !important;
  }
  
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
  }

  .dropdown-filter {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
  }
  
  .home-page {
    justify-content: center;
    padding-block: 5rem;
  }
  
  .form-container {
    justify-content: center;
    padding-block: 1rem;
    padding-left: 25rem;
    padding-right: 25rem;
  }
  
  .inventory-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .inventory-card {
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 10% / 50%;
  }